latex/Heart_Disease_BigData_Final_Report.aux
latex/Heart_Disease_BigData_Final_Report.lof
latex/Heart_Disease_BigData_Final_Report.log
latex/Heart_Disease_BigData_Final_Report.lot
latex/Heart_Disease_BigData_Final_Report.out
latex/Heart_Disease_BigData_Final_Report.toc
latex/compile1.log
