latex/Heart_Disease_BigData_Final_Report.aux
latex/Heart_Disease_BigData_Final_Report.lof
latex/Heart_Disease_BigData_Final_Report.log
latex/Heart_Disease_BigData_Final_Report.lot
latex/Heart_Disease_BigData_Final_Report.out
latex/Heart_Disease_BigData_Final_Report.toc
latex/compile1.log
latex/Heart_Disease_BigData_Final_Report.fdb_latexmk
latex/Heart_Disease_BigData_Final_Report.fls
latex/Heart_Disease_BigData_Final_Report.synctex.gz
latex/Heart_Disease_BigData_Final_Report.synctex(busy)
data/*
latex/compile2.log
latex/compile3.log
latex/compile4.log
